.studentInfo {
	color: white;
}

.studentCard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 700px;
	margin: auto;
	text-align: center;
	font-family: arial;
	display: flex;
	padding: 15px;
	align-items: center;
	border-radius: 10px;
	margin-top: 50px;
	background-image: url("../images/4743807-parchment-png-100-images-in-collection-page-3-parchment-png-1542_2010_preview.png");
	background-size: cover;
}

.studentPageBtn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.studentPageBtn:hover,
a:hover {
	opacity: 0.7;
}

.housePic {
	width: 100%;
}

.studentPageFont {
	font-size: 24px;
}

.cardTextRight {
	width: 600px;
}

.picDiv {
	width: 300px;
	margin-left: 40px;
}

@media screen and (max-width: 992px) {
.studentCard{
	/* background: wheat; */
	display: block;
	background-image: none;	
	margin: 0px;

}
.cardTextRight {
    width: auto;
	background-image: url("https://thumbs.dreamstime.com/b/high-detail-full-vector-light-parchment-very-detailed-design-old-paper-56493820.jpg");
    padding: 5px;
	border-radius: 10px;
	margin: 10px 0px;

}
.picDiv{
	width: auto;
	margin: auto;
}

}